<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6 text-white">Employee Portal</div>
          <div class="col-6 text-end">asd</div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-boarded">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Contact No</th>
              <th>Date</th>
              <th>In Time</th>
              <th>Out-Time</th>
              <th>isFullDay</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of attendanceArray; let sr = index">
              <td>{{ sr + 1 }}</td>
              <td>{{ item.empName }}</td>
              <td>{{ item.empContactNo }}</td>
              <td>{{ item.attendanceDate | date:'dd-MMM-yy' }}</td>
              <td>{{ item.inTime | date:'hh-mm' }}</td>
              <td>{{ item.outTime  | date:'hh-mm' }}</td>
              <td>{{ item.isFullDay }}</td>
              <td>
                <button
                  class="btn btn-success btn-sm"
                  (click)="onEdit(item.attendanceId)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="onDelete(item.attendanceId)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6 text-white">Employee Portal</div>
          <div class="col-6 text-end"></div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-6">
              <label for="">Select Employee</label>
              <select
                name="employeeId"
                class="form-control"
                [(ngModel)]="attendanceObj.employeeId"
                id=""
              >
                <option [value]="emp.empId" *ngFor="let emp of employeeArray">
                  {{ emp.empName }}
                </option>
              </select>
            </div>
            <div class="col-6">
              <label for="">Attandance Date</label>
              <input
                type="text"
                class="form-control"
                name="attendanceDate"
                [(ngModel)]="attendanceObj.attendanceDate"
              />
            </div>
            <div class="col-6">
              <label for=""> In Time</label>
              <input
                type="text"
                class="form-control"
                name="inTime"
                [(ngModel)]="attendanceObj.inTime"
              />
            </div>
            <div class="col-6">
              <label for="">OutTime</label>
              <input
                type="text"
                class="form-control"
                name="outTime"
                [(ngModel)]="attendanceObj.outTime"
              />
            </div>
            <div class="col-6">
              <label for="">isFullDay</label>
              <textarea
                name="isFullDay"
                cols="2"
                class="form-control"
                [(ngModel)]="attendanceObj.isFullDay"
              ></textarea>
            </div>
          
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <button class="btn btn-success btn-sm">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button
                class="btn btn-success btn-sm"
                *ngIf="attendanceObj.attendanceId == 0"
                (click)="onSave()"
              >
                Save Employee
              </button>
              <button
                class="btn btn-success btn-sm"
                *ngIf="attendanceObj.attendanceId != 0"
                (click)="onUpdate()"
              >
                Update Employee
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
