<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div style="display: flex; width: 800px; justify-content: space-around">
    <div>
      <a
        style="text-decoration: none; color: antiquewhite"
        routerLink="dashboard"
        >DashBoard</a
      >
    </div>
    <div>
      <a
        style="text-decoration: none; color: antiquewhite"
        routerLink="employee"
        >employee</a
      >
    </div>
    <div>
      <a
        style="text-decoration: none; color: antiquewhite"
        routerLink="attandance"
        >attandance</a
      >
    </div>
    <div>
      <a style="text-decoration: none; color: antiquewhite" routerLink="advance"
        >advance</a
      >
    </div>
    <div>
      <a style="text-decoration: none; color: antiquewhite" routerLink="leave"
        >leave</a
      >
    </div>
    <div>
      <a style="text-decoration: none; color: antiquewhite" routerLink="salary"
        >salary</a
      >
    </div>
  </div>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
